<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>Travela - Find easily a place and review online</title>


	<!-- BASE CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	<link href="css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
   
	<!-- YOUR CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">

</head>

<body style="height: 100%">

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	<main style="height: 100%"> 
		<div class="hero_home version_1">
			<div class="content">
				<h3>Travela!</h3>
				<p>
					The world is yours.
				</p>
				<form method="post" action="list.html">
					<div id="custom-search-input">
						<div class="input-group">
							<input type="text" class=" search-query" placeholder="Ex. City, Location ....">
							<input type="submit" class="btn_search" value="Search">
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
	<!-- /main content -->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts.min.js"></script>
	<script src="js/functions.js"></script>


</body>

</html>